services:
  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    user: "1000:1000"
    ports:
      - "3923:3923"
    volumes:
      - ./copyparty.conf:/cfg/copyparty.conf:ro
      - /home/record/dockers/copyparty/share:/w
    environment:
      PYTHONUNBUFFERED: 1
    stop_grace_period: 15s
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q 127.0.0.1:3923/?reset=/._"]
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 15s
    restart: unless-stopped
    networks:
      - core_net

networks:
  core_net:
    external: true

